<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/5c2a728a53.js"
crossorigin="anonymous"></script>
    <title>EvoluTech</title>
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h2 class="logo">EvoluTech</h2>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu">
            <a href="../index.html">Inicio</a>
            <a href="nosotros.html">Sobre nosotros</a>
            <a href="contacto.html">Contacto</a>
            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>
    </header>
    <section id="contacto">
        <h4>Bienvenido</h4>
        <form action="#">
            <div class="datos-form">
                <div class="usuario">
                    <label for="usuario">Usuario</label>
                    <input type="text" name="usuario" id="usuario" placeholder="usuario" required>
                </div>
                <div class="password">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" placeholder="contraseña" required>
                </div>
            </div>
            <div class="boton-formulario">
                <button type="button" class="boton-saber-mas" onclick="validarFormulario()">Iniciar sesión</button>
            </div>
        </form>
    </section>
<script>
    function validarFormulario() {
        // Obtener los campos del formulario
        const usuario = document.getElementById('usuario').value;
        const password = document.getElementById('password').value;

        // Verificar si los campos están vacíos
        if (usuario === "" || password === "") {
            alert("Por favor, complete todos los campos.");
        } else {
            // Si los campos están llenos, redirigir a la página
            window.location.href = "verContactos.php";
        }
    }
</script>
</body>
</html>
<footer>
    <p>
        &copy: 2024 EvoluTech
    </p>
</footer>
</html>