<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/5c2a728a53.js"
crossorigin="anonymous"></script>
    <title>EvoluTech</title>
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h2 class="logo">EvoluTech</h2>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu">
            <a href="../index.html">Inicio</a>
            <a href="nosotros.html">Sobre nosotros</a>
            <a href="contacto.html">Contacto</a>
            <a href="empezar.html">Iniciar sesion</a>
            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>
    </header>
    <section id="nosotros">
        <div>
            <h4>EVOLUTECH<br></h4>
            <div>
                <img src="../images/image3.jpg">
                <h4>Desarrollo de software:</h4>
                <h5>Innovación en cada línea de código.</h5>
                <div>
                    <p>Nuestra entidad surge con el objetivo de apoyar tanto los procesos académicos como administrativos, brindando soluciones tecnológicas que facilitan el aprendizaje y optimizan las gestiones diarias. Entendemos la importancia de la tecnología en el entorno actual y cómo puede marcar la diferencia tanto en el desarrollo académico como en el desempeño empresarial.</p>
                    <p>Con un enfoque en la personalización y la calidad, ofrecemos una gama de servicios diseñados para satisfacer las necesidades de estudiantes, emprendedores y empresas que buscan mejorar su presencia digital y optimizar sus procesos.</p>
                    <p>Con nuestros servicios, buscamos impulsar tanto el crecimiento personal como el éxito empresarial, ofreciendo soluciones tecnológicas de calidad que se adaptan a las necesidades de cada cliente.</p>
                    <p>¡Contáctanos para llevar tus proyectos al siguiente nivel!</p>
                </div>
                <a href="contacto.html" class="boton-saber-mas">Contactar ahora</a>
            </div>
        </div>
        <div>
            <h4>Nuestros servicios</h4>
            <div>
                <p>• Creación de Sitios Web: Diseñamos sitios web corporativos, blogs, portafolios y tiendas en línea adaptados a las necesidades de tu proyecto.</p>
                <p>• Mantenimiento y Soporte: Brindamos actualización de contenido, resolución de errores y mantenimiento continuo para asegurar el buen funcionamiento de tu sitio web.</p>
                <p>• Diseño UI/UX: Creamos interfaces atractivas y funcionales que mejoran la experiencia de usuario.</p>
                <p>• Desarrollo de Aplicaciones y Sistemas Empresariales: Desarrollamos aplicaciones y sistemas a medida utilizando lenguajes como Python, Java y C#.</p>
                <p>• Bases de Datos Relacionales: Diseñamos y gestionamos bases de datos en MySQL, PostgreSQL y SQL Server para proyectos de software.</p>
                <p>• Resolución de Ejercicios y Mini Proyectos: Soporte en la resolución de ejercicios de programación y desarrollo de mini proyectos.</p>
                <p>• Explicación de Conceptos: Explicación clara de conceptos teóricos y su aplicación práctica en proyectos.</p>
            </div>
        </div>
    </section>
</body>
<footer>
    <p>
        &copy: 2024 EvoluTech
    </p>
</footer>
</html>